on:
  push:
    branches: [main]
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Compile
        run: mvn -B clean compile

      - name: Run tests
        run: mvn -B test

